<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>

    <nav class="mainNav">
        <header id="home" class="current">HOME</header>
        <header id="reg">REGISTRATION</header>
        <header id="prof">PROFILE</header>
        <header id="log" class="login">LOG IN</header>
    </nav>

    <br><br>

    <h1 class="pageHeader">Home</h1>

    <br><br>
    
    <div id="holidayDiv" class="holidayDiv">
        <h1 id="dateHeader">
            <!--Text filled in by JS-->
        </h1>

        <br>

        <ul id="holidayList">
            <!--Content filled in by JS-->
        </ul>

        <img src="/images/happyHolidays.jpg" alt="happy holidays">

        <footer class="homeFooter">
            <!--This is mainly here so we have an easy way to navigate to the API's website
            without having to look it up eveytime-->
            For this site, we are using Nager's <a href="https://date.nager.at/Api" target="_blank">Holiday API</a>
        </footer>
    </div>

    <script src="/js/global.js"></script>
    <script src="/js/home.js"></script>
    
</body>
</html>
