<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Index</title>
</head>
<body>
    <h1 class="pageHeader">Holidays Around The World</h1>

    <div id="fadeInText" class="fadeInText">
    <p>Press the spacebar to continue</p> 
    </div>


    <script src="/js/global.js"></script>
    <script src="/js/index.js"></script>
    
</body>
</html>