/* Profile CSS */
body{
    text-align: left;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    padding-left:40px;
    padding-top:40px;
}
form{
    padding-left:40px;
}
img{
    width:50%;
    height: auto;
    float: right;
    padding-right: 20px;
}